[submodule "REFramework"]
	path = externals/REFramework
	url = https://github.com/praydog/REFramework
	ignore = dirty
[submodule "externals/reshade"]
	path = externals/reshade
	url = https://github.com/crosire/reshade
[submodule "detours"]
	path = externals/detours
	url = https://github.com/microsoft/Detours
